@import 'typography';
@import 'variables';

$baseline: 320px;

html {

    body {

        main {

            .hero {
                height: 300px;
                background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), rgba(4, 26, 41, 1)),url(../img/lucas-clara-579404-unsplash.jpg);
                background-size:cover; 
                article {
                    padding: 0;
                    margin: 0;
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;

                    h5 {
                        padding: 1rem;
                        color: white;
                        text-align: center;
                    }
                    

                } 
            }

            .intro {
                padding: 3rem;
                text-align: center;
                h4 {
                    margin-bottom: 1.8rem;
                }
            }

            .grid {
                display: grid;
                width:100vw;
                grid-template-columns: repeat (1, 1fr);
                grid-template-rows: $baseline $baseline $baseline $baseline $baseline;
                grid-template-areas:
                "img-ut" "img-va" "img-de" "img-bl" "img-ti";

                .img-utrustning {
                    grid-area: img-ut;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), rgba(4, 26, 41, 1)),url(../img/josiah-weiss-435592-unsplash.jpg);
                    background-size:cover;     
                }    
                .img-vandringar {
                    grid-area: img-va;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), rgba(4, 26, 41, 1)),url(../img/benjamin-davies-332625-unsplash.jpg);
                    background-size:cover;     
                }
                .img-destination {
                    grid-area: img-de;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), rgba(4, 26, 41, 1)),url(../img/carl-cerstrand-136810-unsplash.jpg);
                    background-size:300%;  
                    background-position: center center;
                }
                .img-bloggare {
                    grid-area: img-bl;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), rgba(4, 26, 41, 1)),url(../img/patrick-hendry-249148-unsplash.jpg);
                    background-size:cover;  
                }
                .img-tips {
                    grid-area: img-ti;
                    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0),  rgba(255, 255, 255, 0), rgba(4, 26, 41, 1)),url(../img/alice-donovan-rouse-199230-unsplash.jpg);
                    background-size:cover;     
                }
                section {
                    display: flex;
                    align-items: flex-end;
                    h2 {
                        margin: .5rem;
                        line-height: 2rem;
                    }
                }
            }
        }
    }
}