@import 'typography';
@import 'variables';

html {

    body {

        main {
            nav {
                display:flex;
                flex-direction: column;
                
            }

            footer {
                display:flex;
                flex-direction: column;


            }
            .intro{
                article{
                    padding: 3rem;
                    text-align: center;
                h3{
                    color: black;
                }
            }
        }

            .tip1, .tip2, .tip3{
            padding: 3rem;
            }

            .btndiv{
                display: flex;
                align-items: center;
                justify-content: center;
                .btn{
                    
                }
            }
            .abisko {
                height: 300px;
                background-image: url(../img/nina-lindgren-147684-unsplash.jpg);
                background-size:cover; 
                article {
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: left;
                    padding-top: 6rem;
                    padding-bottom: 6rem;
                    h1{
                        font-size: 8rem;
                        margin-bottom: -3rem;
                        font-family: 'Roboto', sans-serif;
                    }
                    h2{
                        color: white;
                        padding-bottom: 5rem;
                        padding-left: 0.5rem;
                    }
                }       
        
            }
            
            .gammelskogen {
                height: 300px;
                background-image: url(../img/tim-swaan-45717-unsplash.jpg);
                background-size:cover; 
                article {
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: left;
                    padding-top: 6rem;
                    h1{
                        font-size: 8rem;
                        margin-bottom: -3rem;
                        font-family: 'Roboto', sans-serif;
                    }
                    h2{
                        color: white;
                        padding-bottom: 5rem;
                        padding-left: 0.5rem;
                    }
                }

            }
            .kungsleden {
                height: 300px;
                background-image: url(../img/lucas-clara-579404-unsplash.jpg);
                background-size:cover; 
                article {
                    height: 300px;                        display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: left;
                    padding-top: 6rem;
                    h1{
                        font-size: 8rem;
                        font-family: 'Roboto', sans-serif;
                        margin-bottom: -3rem;
                    }
                    h2{
                        color: white;
                        padding-bottom: 5rem;
                        padding-left: 0.5rem;
                    }

                }

            }
        }
    }
}