@import 'typography';
@import 'variables';

html {

    body {

        main {
            nav {
                display:flex;
                flex-direction: column;
                
            }

            footer {
                display:flex;
                flex-direction: column;


            }
            .intro{
                article{
                    text-align: center;
                h1{
                    color: black;
                    
                }
            }
        }
            .abisko {
                height: 300px;
                background-image: url(../img/nina-lindgren-147684-unsplash.jpg);
                background-size:cover; 
                article {
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: left;
                    padding-top: 6rem;
                    padding-bottom: 6rem;
                    h1{
                        font-size: 10rem;
                        margin-bottom: -5rem;
                    }
                    h5{
                        font-size: 2rem;
                        color: white;
                        padding-bottom: 3rem;
                        padding-left: 0.5rem;
                    }
                }       
        
            }
            .gammelskogen {
                height: 300px;
                background-image: url(../img/tim-swaan-45717-unsplash.jpg);
                background-size:cover; 
                article {
                    height: 300px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: left;
                    padding-top: 6rem;
                    h1{
                        font-size: 10rem;
                        margin-bottom: -5rem;
                    }
                    h5{
                        font-size: 2rem;
                        color: white;
                        padding-bottom: 3rem;
                        padding-left: 0.5rem;
                    }
                }

            }
            .kungsleden {
                height: 300px;
                background-image: url(../img/lucas-clara-579404-unsplash.jpg);
                background-size:cover; 
                article {
                    height: 300px;                        display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: left;
                    padding-top: 6rem;
                    h1{
                        font-size: 10rem;
                        margin-bottom: -5rem;
                    }
                    h5{
                        font-size: 2rem;
                        color: white;
                        padding-bottom: 3rem;
                        padding-left: 0.5rem;
                    }

                }

            }
        }
    }
}