// Typography
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

a {
    text-decoration: none;
    color: #000;
}
:root {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    
}

h1 {
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    text-decoration: none;
    text-transform: uppercase;
}
h3 {
    font-size: 1rem;
}

h4 {
    text-transform: uppercase;
}