@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");


// Typography
$font-family-sans-serif: 'PT Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

a {
    text-decoration: none;
    color: #000;
}

p {
    margin: 0;
}
:root {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    
}

h1 {
    font-size: 2.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    margin: 0;
    font-weight: 400;
}

h2 {
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 400;
    margin: 0;
    padding: 0;
    
}
h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 0 3rem 0;
}

h4 {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0;

}

h5 {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 600px) {
    /* for tablets */
    
h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}
  
}


@media only screen and (min-width: 768px) {
    /* For desktop: */

    h1 {
        font-size: 5rem;
    }
    
    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 3.2rem;
    }
    
    h4 {
        font-size: 1.5rem;
    }
    
    h5 {
        font-size: 1.25rem;
    }

}