.btn{
    border: solid rgba(4, 26, 41, 1) 1px;
    color: rgba(4, 26, 41, 1);
    border-radius: 3px;
    padding: 0.5rem 2rem;
    &:hover{
        background: rgba(4, 26, 41, 1);
        color: white;
    }
}
.btndark{
    border: solid white 1px;
    border-radius: 3px;
    padding: 0.1rem 1.5rem;
    color: white;
    &:hover{
        background: white;
        color:  rgba(4, 26, 41, 1);
    }
}