
@import 'typography';
@import 'variables';
@import 'index';
@import 'top5';
@import 'equipment';
@import 'tips';

$baseline: 320px;

html {
    margin: 0;
    max-width: 100vw;
    width: 100%;
    padding: 0;

    body {
        margin: 0;
        
        main {
            
          margin: 0;

            footer {
                display:flex;
                flex-direction: column;


            }
        }
    }
}


@media only screen and (min-width: 600px) {
    /* for tablets */
    
    html {
        body {
            main {

            }
        }
  }
}


@media only screen and (min-width: 768px) {
    /* For desktop: */
    
    html {
        body {
            main {

            }
        }
  }
}
