@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
}

.btn {
  border: solid #041a29 1px;
  color: #041a29;
  border-radius: 3px;
  padding: 0.5rem 2rem;
}

.btn:hover {
  background: #041a29;
  color: white;
}

.btndark {
  border: solid white 1px;
  border-radius: 3px;
  padding: 0.1rem 1.5rem;
  color: white;
}

.btndark:hover {
  background: white;
  color: #041a29;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
}

.btn {
  border: solid #041a29 1px;
  color: #041a29;
  border-radius: 3px;
  padding: 0.5rem 2rem;
}

.btn:hover {
  background: #041a29;
  color: white;
}

.btndark {
  border: solid white 1px;
  border-radius: 3px;
  padding: 0.1rem 1.5rem;
  color: white;
}

.btndark:hover {
  background: white;
  color: #041a29;
}

html body main .hero {
  height: 300px;
}

html body main .hero article {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  overflow: hidden;
  text-align: center;
}

html body main .hero article h5 {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

html body main .hero article .slider-img {
  position: relative;
  width: 100vw;
}

html body main .hero article .slider-img img {
  width: 600px;
}

html body main .hero article .slider-img .img-text {
  position: absolute;
  bottom: 1rem;
  left: 3rem;
  right: 3rem;
  z-index: 10;
  max-width: 900px;
}

html body main .hero article .slider-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29);
  z-index: 1;
}

html body main .intro {
  padding: 3rem;
  text-align: center;
}

html body main .intro h4 {
  margin-bottom: 1.8rem;
}

html body main .intro.index {
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
}

html body main .intro.index h4 {
  padding-top: 2rem;
}

html body main .grid {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  grid-gap: .5rem;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 320px 320px 320px 320px 320px;
      grid-template-rows: 320px 320px 320px 320px 320px;
      grid-template-areas: "img-ut" "img-va" "img-de" "img-bl" "img-ti";
}

html body main .grid .img-utrustning {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-ut;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/josiah-weiss-435592-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/josiah-weiss-435592-unsplash.jpg);
  background-size: cover;
}

html body main .grid .img-utrustning:hover h2 {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translate(0.5rem, -0.5rem);
          transform: translate(0.5rem, -0.5rem);
}

html body main .grid .img-vandringar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-va;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/benjamin-davies-332625-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/benjamin-davies-332625-unsplash.jpg);
  background-size: cover;
}

html body main .grid .img-vandringar:hover h2 {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translate(0.5rem, -0.5rem);
          transform: translate(0.5rem, -0.5rem);
}

html body main .grid .img-destination {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img-de;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/carl-cerstrand-136810-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/carl-cerstrand-136810-unsplash.jpg);
  /* background-size:300%; */
  background-position: center center;
}

html body main .grid .img-destination:hover h2 {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translate(0.5rem, -0.5rem);
          transform: translate(0.5rem, -0.5rem);
}

html body main .grid .img-bloggare {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: img-bl;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/patrick-hendry-249148-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/patrick-hendry-249148-unsplash.jpg);
  background-size: cover;
}

html body main .grid .img-bloggare:hover h2 {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translate(0.5rem, -0.5rem);
          transform: translate(0.5rem, -0.5rem);
}

html body main .grid .img-tips {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: img-ti;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/alice-donovan-rouse-199230-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/alice-donovan-rouse-199230-unsplash.jpg);
  background-size: cover;
}

html body main .grid .img-tips:hover h2 {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translate(0.5rem, -0.5rem);
          transform: translate(0.5rem, -0.5rem);
}

html body main .grid section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

html body main .grid section h2 {
  margin: .5rem;
  line-height: 2rem;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  html body main .hero {
    height: 430px;
  }
  html body main .hero article {
    height: 430px;
    text-align: left;
  }
  html body main .hero article .slider-img img {
    width: 100vw;
  }
  html body main .hero article .slider-img .img-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1rem 3rem;
  }
  html body main .intro {
    padding: 3rem 7rem;
  }
  html body main .intro.index {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  html body main .intro.index h4 {
    padding-top: 0rem;
  }
  html body main .grid {
    display: -ms-grid;
    display: grid;
    margin: 1rem;
    width: 95vw;
    grid-gap: 1rem;
    -ms-grid-columns: (1fr)[2] !important;
        grid-template-columns: repeat(2, 1fr) !important;
    -ms-grid-rows: 320px 320px 320px;
        grid-template-rows: 320px 320px 320px;
        grid-template-areas: "img-ut img-va"  "img-de img-de"  "img-bl img-ti";
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  html body main .hero {
    height: 530px;
  }
  html body main .hero article {
    height: 530px;
    text-align: left;
  }
  html body main .hero article h5 {
    text-align: left;
  }
  html body main .hero article .slider-img img {
    width: 100vw;
  }
  html body main .hero article .slider-img .img-text {
    bottom: 8px;
    left: 6rem;
  }
  html body main .grid {
    display: -ms-grid;
    display: grid;
    margin: 1.5rem;
    width: 96vw;
    grid-gap: 1.5rem;
    -ms-grid-columns: (1fr)[3] !important;
        grid-template-columns: repeat(3, 1fr) !important;
    -ms-grid-rows: 320px 320px 320px;
        grid-template-rows: 320px 320px 320px;
        grid-template-areas: "img-ut img-va img-va"  "img-de img-de img-de"  "img-bl img-bl img-ti";
  }
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
}

.btn {
  border: solid #041a29 1px;
  color: #041a29;
  border-radius: 3px;
  padding: 0.5rem 2rem;
}

.btn:hover {
  background: #041a29;
  color: white;
}

.btndark {
  border: solid white 1px;
  border-radius: 3px;
  padding: 0.1rem 1.5rem;
  color: white;
}

.btndark:hover {
  background: white;
  color: #041a29;
}

html body main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main .intro_t5 article {
  text-align: center;
  padding: 3rem;
}

html body main .intro_t5 article h3 {
  color: black;
}

html body main .tip1, html body main .tip2, html body main .tip3 {
  padding: 3rem;
}

html body main .tip1 h4, html body main .tip2 h4, html body main .tip3 h4 {
  padding-top: 1rem;
  padding-bottom: 2.7rem;
}

html body main .btndiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

html body main .abisko {
  height: 400px;
  background-image: url(../img/nina-lindgren-147684-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

html body main .abisko article {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 6rem;
}

html body main .abisko article h1 {
  font-size: 8rem;
  margin-bottom: -1.5rem;
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
}

html body main .abisko article h2 {
  color: white;
  padding-bottom: 6.5rem;
  padding-left: 1rem;
}

html body main .gammelskogen {
  height: 400px;
  background-image: url(../img/tim-swaan-45717-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

html body main .gammelskogen article {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 6rem;
}

html body main .gammelskogen article h1 {
  font-size: 8rem;
  margin-bottom: -1.5rem;
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
}

html body main .gammelskogen article h2 {
  color: white;
  padding-bottom: 6.5rem;
  padding-left: 1rem;
}

html body main .kungsleden {
  height: 400px;
  background-image: url(../img/lucas-clara-579404-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

html body main .kungsleden article {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 6rem;
}

html body main .kungsleden article h1 {
  font-size: 8rem;
  margin-bottom: -1.5rem;
  font-family: 'Roboto', sans-serif;
  padding-left: 1rem;
}

html body main .kungsleden article h2 {
  color: white;
  padding-bottom: 6.5rem;
  padding-left: 1rem;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  html body main .btndiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 1.5rem;
  }
  html body main .btndiv .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  html body main .tip1, html body main .tip2, html body main .tip3 {
    padding: 3rem 7rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  html body main .btndiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 1.5rem;
  }
  html body main .btndiv .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  html body main .tip1, html body main .tip2, html body main .tip3 {
    padding: 3rem 7rem;
  }
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
}

.btn {
  border: solid #041a29 1px;
  color: #041a29;
  border-radius: 3px;
  padding: 0.5rem 2rem;
}

.btn:hover {
  background: #041a29;
  color: white;
}

.btndark {
  border: solid white 1px;
  border-radius: 3px;
  padding: 0.1rem 1.5rem;
  color: white;
}

.btndark:hover {
  background: white;
  color: #041a29;
}

html body main article .equp {
  padding: 3rem;
  text-align: center;
}

html body main article .equp h3 {
  color: black;
}

html body main .grid_e {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  -ms-grid-rows: 560px 560px 560px 560px 560px 560px 560px 560px 560px;
      grid-template-rows: 560px 560px 560px 560px 560px 560px 560px 560px 560px;
  grid-gap: 0.5rem;
}

html body main .grid_e .card {
  height: 100%;
  max-width: 100vw;
  width: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

html body main .grid_e .card .front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100%;
  width: 100%;
}

html body main .grid_e .card .front h2 {
  margin: .5rem;
}

html body main .grid_e .card .front#shoe {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/christopher-jolly-147389-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/christopher-jolly-147389-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
}

html body main .grid_e .card .front#bag {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/josiah-weiss-435592-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/josiah-weiss-435592-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

html body main .grid_e .card .front#tent {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/sayan-nath-1457796-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/sayan-nath-1457796-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

html body main .grid_e .card .front#under {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/nazar-lev-1380176-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/nazar-lev-1380176-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

html body main .grid_e .card .front#shell {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/avel-chuklanov-176331-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/avel-chuklanov-176331-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

html body main .grid_e .card .front#rain {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/nguy-n-ha-1225059-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/nguy-n-ha-1225059-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

html body main .grid_e .card .front#food {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/easy-camping-food.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/easy-camping-food.jpg);
  background-size: cover;
}

html body main .grid_e .card .front#first {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/brian-patrick-tagalog-681929-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/brian-patrick-tagalog-681929-unsplash.jpg);
  background-size: cover;
}

html body main .grid_e .card .front#other {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/alice-donovan-rouse-199230-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/alice-donovan-rouse-199230-unsplash.jpg);
  background-size: cover;
  background-position: center;
}

html body main .grid_e .card .front.flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

html body main .grid_e .card .front:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s -webkit-transform;
  transition: 1s -webkit-transform;
  transition: 1s transform;
  transition: 1s transform, 1s -webkit-transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

html body main .grid_e .card .backside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  width: 100%;
  background-color: #041a29;
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

html body main .grid_e .card .backside.flipped {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

html body main .grid_e .card .backside h2 {
  padding-top: 1.5rem;
}

html body main .grid_e .card .backside p {
  padding: 2.4rem;
}

html body main .grid_e .card .backside .down {
  position: absolute;
  bottom: 2.4rem;
  left: 2.4rem;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  html body main .equp {
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
  }
  html body main .equp h3 {
    color: black;
  }
  html body main .grid_e {
    max-width: 90vw;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: 560px 560px 560px 560px 560px;
        grid-template-rows: 560px 560px 560px 560px 560px;
    grid-gap: 1rem;
  }
  html body main .grid_e .card {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  /* For desktop: */
  html body main .equp {
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
  }
  html body main .equp h1 {
    padding: 1rem 0rem;
    color: black;
  }
  html body main .equp h5 {
    padding: 1rem 0rem;
  }
  html body main .grid_e {
    max-width: 90vw;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 560px 560px 560px;
        grid-template-rows: 560px 560px 560px;
    grid-gap: 1rem;
  }
  html body main .grid_e .card {
    height: 100%;
    width: 100%;
  }
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 0 3rem 0;
}

h4 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
}

.btn {
  border: solid #041a29 1px;
  color: #041a29;
  border-radius: 3px;
  padding: 0.5rem 2rem;
}

.btn:hover {
  background: #041a29;
  color: white;
}

.btndark {
  border: solid white 1px;
  border-radius: 3px;
  padding: 0.1rem 1.5rem;
  color: white;
}

.btndark:hover {
  background: white;
  color: #041a29;
}

html body main .responsive {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[1];
      grid-template-columns: repeat(1, 1fr);
  grid-gap: 0.5rem;
  max-width: 100vw;
  width: 100%;
  margin-bottom: 2rem;
}

html body main .responsive .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 400px;
  margin: 0;
}

html body main .responsive .container#var {
  background-image: url(../img/var.jpg);
  background-size: cover;
}

html body main .responsive .container#dos {
  background-image: url(../img/dos.jpg);
  background-size: cover;
}

html body main .responsive .container#nar {
  background-image: url(../img/nar.jpg);
  background-size: cover;
}

html body main .responsive .container#hur {
  background-image: url(../img/hur.jpg);
  background-size: cover;
}

html body main .responsive .container h2 {
  margin: .5rem;
  padding: 0;
}

html body main .responsive .container:hover h2 {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translate(0.5rem, -0.5rem);
          transform: translate(0.5rem, -0.5rem);
}

html body main .responsive1 {
  width: 100%;
}

html body main .responsive1 .gallery1 img {
  max-width: 100vw;
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0;
}

html body main .responsive1 .gallery1 img .bottom-left {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

html body main .responsive1 .desc {
  padding: 3rem;
}

html body main .responsive1 .desc h4 {
  padding-top: 1rem;
  padding-bottom: 2.7rem;
}

html body main .responsive1 .desc .fa {
  display: block;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  html body main .responsive {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    max-width: 100vw;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: justify;
        align-content: space-between;
  }
  html body main .responsive .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 400px;
    margin: 0;
  }
  html body main .responsive .container h3 {
    color: white;
  }
  html body main .responsive .container#var {
    background-image: url(../img/var.jpg);
    background-size: cover;
    margin-left: 2rem;
  }
  html body main .responsive .container#dos {
    background-image: url(../img/dos.jpg);
    background-size: cover;
    margin-right: 2rem;
  }
  html body main .responsive .container#nar {
    background-image: url(../img/nar.jpg);
    background-size: cover;
    margin-left: 2rem;
  }
  html body main .responsive .container#hur {
    background-image: url(../img/hur.jpg);
    background-size: cover;
    margin-right: 2rem;
  }
  html body main .responsive1 .desc {
    padding: 3rem 7rem;
  }
}

html {
  margin: 0;
  max-width: 100vw;
  width: 100%;
  padding: 0;
}

html body {
  margin: 0;
}

html body main {
  margin: 0;
}

html body main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #041a29;
  color: white;
  padding: 1rem 0;
  margin-top: 3rem;
}

html body main footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

html body main footer section h5 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

html body main footer section input {
  margin: 0.5rem;
}

html body main footer section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0.5rem 0;
}

html body main footer section article div a {
  margin: 0.5rem;
  height: 2rem;
  width: 2rem;
}

html body main footer section article div a img {
  height: 2rem;
  width: 2rem;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  html body main footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  html body main footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=main.css.map */