@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap");
a {
  text-decoration: none;
  color: #000;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

h2 {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.btn {
  border: solid black 1px;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

h2 {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.btn {
  border: solid black 1px;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}

html body main .hero {
  height: 300px;
  background-image: url(../img/lucas-clara-579404-unsplash.jpg);
  background-size: cover;
}

html body main .hero article {
  padding: 0;
  margin: 0;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

html body main .hero article h5 {
  padding: 0 1rem;
  color: white;
  text-align: center;
}

html body main .grid {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  -ms-grid-columns: repeat 1, 1fr;
      grid-template-columns: repeat 1, 1fr;
  -ms-grid-rows: 320px 320px 320px 320px 320px;
      grid-template-rows: 320px 320px 320px 320px 320px;
      grid-template-areas: "img-ut" "img-va" "img-de" "img-bl" "img-ti";
}

html body main .grid .img-utrustning {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: img-ut;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/josiah-weiss-435592-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/josiah-weiss-435592-unsplash.jpg);
  background-size: cover;
}

html body main .grid .img-vandringar {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: img-va;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/benjamin-davies-332625-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/benjamin-davies-332625-unsplash.jpg);
  background-size: cover;
}

html body main .grid .img-destination {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: img-de;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/carl-cerstrand-136810-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/carl-cerstrand-136810-unsplash.jpg);
  background-size: cover;
}

html body main .grid .img-bloggare {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: img-bl;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/patrick-hendry-249148-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/patrick-hendry-249148-unsplash.jpg);
  background-size: cover;
}

html body main .grid .img-tips {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: img-ti;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0)), to(#041a29)), url(../img/alice-donovan-rouse-199230-unsplash.jpg);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), #041a29), url(../img/alice-donovan-rouse-199230-unsplash.jpg);
  background-size: cover;
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

h2 {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.btn {
  border: solid black 1px;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}

html body main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main .intro article {
  padding: 3rem;
  text-align: center;
}

html body main .intro article h3 {
  color: black;
}

html body main .tip1, html body main .tip2, html body main .tip3 {
  padding: 3rem;
}

html body main .btndiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.5rem;
}

html body main .btndiv .btn {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

html body main .abisko {
  height: 300px;
  background-image: url(../img/nina-lindgren-147684-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

html body main .abisko article {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 6rem;
}

html body main .abisko article h1 {
  font-size: 8rem;
  margin-bottom: -3rem;
  font-family: 'Roboto', sans-serif;
  padding-left: 0.5rem;
}

html body main .abisko article h2 {
  color: white;
  padding-bottom: 5rem;
  padding-left: 0.5rem;
}

html body main .gammelskogen {
  height: 300px;
  background-image: url(../img/tim-swaan-45717-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

html body main .gammelskogen article {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 6rem;
}

html body main .gammelskogen article h1 {
  font-size: 8rem;
  margin-bottom: -3rem;
  font-family: 'Roboto', sans-serif;
  padding-left: 0.5rem;
}

html body main .gammelskogen article h2 {
  color: white;
  padding-bottom: 5rem;
  padding-left: 0.5rem;
}

html body main .kungsleden {
  height: 300px;
  background-image: url(../img/lucas-clara-579404-unsplash.jpg);
  background-size: cover;
  background-position: center center;
}

html body main .kungsleden article {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  padding-top: 6rem;
}

html body main .kungsleden article h1 {
  font-size: 8rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: -3rem;
  padding-left: 0.5rem;
}

html body main .kungsleden article h2 {
  color: white;
  padding-bottom: 5rem;
  padding-left: 0.5rem;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
  html body main .btndiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 1.5rem;
  }
  html body main .btndiv .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  html body main .btndiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 1.5rem;
  }
  html body main .btndiv .btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

h2 {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.btn {
  border: solid black 1px;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  font-family: 'PT Sans', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  margin: 0;
}

h2 {
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  text-transform: uppercase;
  font-size: 20px;
}

.btn {
  border: solid black 1px;
  border-radius: 3px;
  padding-left: 1rem;
  padding-right: 1rem;
  float: right;
}

html {
  margin: 0;
  max-width: 100vw;
  width: 100%;
  padding: 0;
}

html body {
  margin: 0;
}

html body main nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html body main footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (min-width: 600px) {
  /* for tablets */
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}
/*# sourceMappingURL=main.css.map */