html,body
{
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
}
.intro{
    margin: 30px;
    text-align: center;
}
div.gallery img {
    width: 99%;
    height: 300px;
    object-fit: cover;
}
div.gallery1 img {
    width: 100vw;
    height: 300px;
    object-fit: cover;
    margin: 0;
}
div.desc {
    padding-top: 30px;
    padding-bottom: 30px; 
    max-width: 80vw;
    border: transparent;
margin: 0 auto;
}

* {
    box-sizing: border-box;
}
.bottom-left {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.container {
    position: relative;
    color: white;
    margin:0;

}

.responsive {
    padding: 0 10px;
    float: left;
    width: 100%;
}

.responsive1 {
    display: grid;
    width:100%;
    grid-template-columns: repeat (1, 1fr);
    grid-template-rows: 1/3;


}
.fa{
    display:block;
    margin-top: 10px;
    text-align: center;
}

/* for tablets and more */

@media only screen and (min-width: 600px) {
    .responsive {
        width: 49.9999%;
        margin: 6px 0;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}